---
import Navbar from '../components/Navbar';
import Main from '../components/Main';
import AboutMe from '../components/AboutMe';
import Technologies from '../components/Technologies';
import Projects from '../components/Projects';
import ContactMe from '../components/ContactMe';
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content={Astro.generator}>
	<link rel="stylesheet" href="src/styles/globals.css">
	<title>Felipe Rodriguez - Portfolio</title>
</head>
<body class="bg-black-pearl-900">
	<Navbar client:load/>
	<Main client:idle/>
	<AboutMe client:visible/>
	<Technologies client:visible/>
	<Projects client:visible/>
	<ContactMe />
</body>
</html>



